<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "
http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
<title>{$Think.config.PLATFORM_NAME}{$Think.config.PLATFORM_VERSION}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

<!-- 日期CSS -->
<link rel="stylesheet" href="__PUBLIC__/assets/css/datepicker.css" />
<!-- /.日期CSS -->

<!-- 可编辑表格专用CSS -->
<link rel="stylesheet" href="__PUBLIC__/assets/css/ui.jqgrid.css" />
<!-- /.可编辑表格专用CSS -->

<!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->

<!-- fonts -->

<!-- ace styles -->

<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />

<!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
    <script src="__PUBLIC__/assets/js/html5shiv.js"></script>
    <script src="__PUBLIC__/assets/js/respond.min.js"></script>
<![endif]-->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="__PUBLIC__/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
    <script src="__PUBLIC__/assets/js/jquery-2.0.3.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document)
        document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
    <script src="__PUBLIC__/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="__PUBLIC__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.sparkline.min.js"></script>
<script src="__PUBLIC__/assets/js/flot/jquery.flot.min.js"></script>
<script src="__PUBLIC__/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="__PUBLIC__/assets/js/flot/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->

<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
<script src="__PUBLIC__/assets/js/ace.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/artDialog4.1.7/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/js/artDialog4.1.7/plugins/iframeTools.js"></script>

<script>
    (function (config) {
        config['lock'] = true;
        config['fixed'] = true;
        config['okVal'] = '确定';
        config['cancelVal'] = '取消';
        // [more..]
    })(art.dialog.defaults);
</script>

<!-- 	</head>
        <body> -->