<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>

                <i class="icon-ok green"></i> 
                欢迎访问{$Think.config.PLATFORM_NAME}
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
