<extend name="./Application/Admin/View/Public/base.html"/>
<block name="eosi-css">
    <link href="__PUBLIC__/assets/css/daterangepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/datepicker/daterangepicker-bs3.css"/>
</block>
<block name="eosi-js">
    <script
            src="__PUBLIC__/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="__PUBLIC__/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script type="text/javascript">
        var $path_base = "/"; //this will be used in gritter alerts containing images
    </script>

    <script type="text/javascript" src="__PUBLIC__/datepicker/moment.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/datepicker/daterangepicker.min.js"></script>
</block>
<block name="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div style="padding-bottom:5px;">
            </div>
            题库名: <select id="tiku" name="tiku">
            <option value="">全部</option>
            <volist name="name" id="vo">
                <option value="{$vo.id}"
                <if condition="is_numeric($tiku) && $tiku == $vo['id']">selected</if>
                >{$vo.name}</option>
            </volist>
        </select>
            题目名:<select id="timu" name="timu">
            <option value="">全部</option>
            <volist name="ti_mu" id="vv">
                <option value="{$vv.id}"
                <if condition="is_numeric($timu) && $timu == $vv['id']">selected</if>
                >{$vv.name}</option>
            </volist>
        </select>
            是否答对:<select id="is_right" name="is_right" value="{$is_right}">
            <option value="">请选择</option>
            <!--<option value="0"<if condition="is_numeric($is_right) && $is_right==0">selected</if>>未知</option>-->
            <option value="1"
            <if condition="is_numeric($is_right) && $is_right==1">selected</if>
            >答对</option>
            <option value="2"
            <if condition="is_numeric($is_right) && $is_right==2">selected</if>
            >部分答对</option>
            <option value="3"
            <if condition="is_numeric($is_right) && $is_right==3">selected</if>
            >错误</option>
        </select>

            <input id="time" placeholder="开始时间 -- 结束时间" name="time" value="{$time}" size="40"/>
            <input type="button" id="search" value="查询">
            <input type="button" id="searc" value="导出">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>题库名</th>
                    <th>题目名</th>
                    <th>用户提交的答案顺序号</th>
                    <th>是否答对</th>
                    <th>本题得分</th>
                    <th>答题时间</th>
                </tr>
                </thead>
                <tbody>
                <volist name="_list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.n1}</td>
                        <td>{$vo.n2}</td>
                        <td>{$vo.answers}</td>
                        <td>
                            <if condition="$vo['is_right']==0"> 未知
                                <elseif condition="$vo['is_right']==1"/>
                                 答对
                                <elseif condition="$vo['is_right']==2"/>
                                部分答对
                                <else/>
                                错误
                            </if>
                        </td>
                        <td>{$vo.score}</td>
                        <td>{$vo.created_at}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pager">{$_page}</div>
        </div>
    </div>
    <!-- /.row -->
    <script>
        $(function () {
            $("#search").click(function () {

                var tiku = $("#tiku").val();
                if (tiku != '') {
                    tiku = "/tiku/" + tiku;
                }
                var timu = $("#timu").val();
                if (timu != '') {
                    timu = "/timu/" + timu;
                }
                var is_right = $("#is_right").val();
                if (is_right != '') {
                    is_right = "/is_right/" + is_right;
                }
                var time = $("#time").val();
                if (time != '') {
                    time = "/time/" + time;
                }

                location.href = "__CONTROLLER__/index" + tiku + timu + is_right + time;
            });

        });
        $(function () {
            $("#searc").click(function () {

                var tiku = $("#tiku").val();
                if (tiku != '') {
                    tiku = "/tiku/" + tiku;
                }
                var timu = $("#timu").val();
                if (timu != '') {
                    timu = "/timu/" + timu;
                }
                var is_right = $("#is_right").val();
                if (is_right != '') {
                    is_right = "/is_right/" + is_right;
                }
                var time = $("#time").val();
                if (time != '') {
                    time = "/time/" + time;
                }
                location.href = "__CONTROLLER__/export_user" + tiku + timu + is_right + time;
            });

        });

        $("#tiku").change(function () {

            var url = '__APP__/Admin/TestHistory/tim_ming';//异步ajax
            $.ajax({
                url: url,
                dataType: 'json',
                data: {id: $("#tiku").val()},
                success: function (data) {
                    var obcity = $("#timu");
                    obcity.contents().remove();
                    var all = "<option value='0'>全部</option>";
                    obcity.append(all);
                    for (var i = 0; i < data.length; i++) {
                        var option = "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                        obcity.append(option);
                    }
                }
            });
        });

        $('#time').daterangepicker(
                {
                    timePicker: true,
                    timePicker12Hour: false,
                    timePickerIncrement: 60,
                    format: 'YYYY-MM-DD HH:00:00',
                    startDate: moment(),
                    endDate: moment(),
                    separator: '~',
                },
                function (start, end, label) {
                    //回调
                });

    </script>

</block>