<extend name="./Application/Admin/View/Public/base.html" />
<block name="eosi-css">
    <link href="__PUBLIC__/assets/css/daterangepicker.css" rel="stylesheet">
</block>
<block name="eosi-js"> <script
    src="__PUBLIC__/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="__PUBLIC__/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script type="text/javascript">
                var $path_base = "/"; //this will be used in gritter alerts containing images
    </script>
</block>
<block name="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div style="padding-bottom:5px;">
                <button class="btn btn-primary btn-xs" onclick="location.href = '{:U('addGroup')}'">添加新用户组</button>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户组中文名称</th>
                        <th>是否有效</th>
                        <th>操作</th>
                        <th>授权</th>
                    </tr>
                </thead>
                <tbody>
                <volist name="_list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.status_str}</td>
                        <td>
                            <span class="hand icon-pencil blue" title="编辑" onclick="editGroup({$vo.id});"></span>
                            &nbsp;&nbsp;
                            <span class="hand icon-trash red" title="删除" onclick="delGroup({$vo.id});"></span>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-xs" onclick="rulePermit({$vo.id});">访问授权</button>
                            <button class="btn btn-purple btn-xs" onclick="userPermit({$vo.id});">成员授权</button>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pager">{$_page}</div>
        </div>
    </div><!-- /.row -->

    <script type="text/javascript">
    //设置任务状态 open:开启  close:关闭
    function setGroupStatus(type, groupid){
        $.ajax({
            type: "POST",
            url:"__CONTROLLER__/setGroupStatus",
            dataType: 'json',
            data: {id:groupid, type:type},
            success: function(data){
                if (data.status == 1) {
                    location.href = "__CONTROLLER__/group";
                } else{
                    art.dialog.alert(data.info);
                }
            },
            error:function(){
                art.dialog.alert("操作失败");
            }
        });
    }
    //编辑任务
    function editGroup(groupid){
        location.href = "__CONTROLLER__/editGroup/id/" + groupid;
    }
    //删除任务
    function delGroup(groupid){
        art.dialog.confirm('确定删除?', function () {
            $.ajax({
                type: "POST",
                url: "__CONTROLLER__/deleteGroup",
                dataType: 'json',
                data: {id:groupid},
                async: false,
                error:function(){
                    art.dialog.alert("操作失败");
                },
                success: function(data){
                    if (data.status == 1) {
                        location.href = "__CONTROLLER__/group"; //刷新
                    } else {
                        art.dialog.alert(data.info);
                    }
                }
            });
        });
    }
    //访问授权
    function rulePermit(groupid){
        location.href = "__CONTROLLER__/rulePermit/id/" + groupid;
    }
    //成员授权
    function userPermit(groupid){
        location.href = "__CONTROLLER__/userPermit/id/" + groupid;
    }
    </script>
</block>